@{
    ViewBag.Title = "QEQ";
}

<div class="jumbotron">
    <h1>QUIEN ES QUIEN</h1>
    <p class="lead">QUIEN ES QUIEN es un juego de estrategia donde el objetivo es encontrar al personaje seleccionado por el oponente, con la menor cantidad de preguntas posibles. </p>
    <p><a href="@Url.Action("JuegoHome","Home")" class="btn btn-warning btn-lg">Jugar&raquo;</a></p>
    <p><a href="@Url.Action("Login","BackOffice")" class="btn-success btn-lg">Administrador&raquo;</a></p>
    <p><a href="@Url.Action("Registrarse","BackOffice")" class="btn btn-primary btn-lg">Registrarse&raquo;</a></p>
</div>

<div class="row">
        <div class="col-md-6">
            <h2>Funcionamiento</h2>
            <p>
                El juego funciona gracias a un sistema monetario interno, donde las partidas se rigen por el uso, apuesta,
                pérdida o ganancia de BitCoins. En base a la cantidad que cada usuario posea, se le será asignada una posición
                en el Ranking Global, de forma que se fomente la competencia e interacción entre miembros de la comunidad.
            </p>
        </div>
        
        <div class="col-md-6">
            <h2>Uso del programa</h2>
            <p>El juego se puede disfrutar de dos formas, con Usuario, para lo que deberá registrarse y utilizar una contraseña,
               o como invitado, donde sus bitcoins se perderán al cerrar el juego. Para empezar con el juego, simplemente presione
               el botón "Jugar".
            </p>
            
        </div>
    </div>
