@using QEQ2.Models;
@model Usuarios

@{
    ViewBag.Title = "Login";
}
<link rel="stylesheet" type="text/css" href="~/Content/login.css" media="screen" />
<div class="Registrar">
    <h2>Iniciar Sesion</h2>


    @using (Html.BeginForm("Iniciarsesionexitoso", "Home", FormMethod.Post))
    {
        <label>Usuario: </label><br />
        @Html.TextBoxFor(x => x.Nombre)<br /> @Html.ValidationMessageFor(x => x.Nombre)<br />
        <label>Contraseña: </label><br />
        @Html.PasswordFor(x => x.Contraseña) <br />@Html.ValidationMessageFor(x => x.Contraseña)<br />
        <br /><input type="submit" value="Iniciar sesion" />
    }
</div>