
@{
    ViewBag.Title = "JuegoHome";
}

<h2>Jugador</h2>

<p>
    Como habra leido anteriormente usted si quiere que se guarde la cantidad de Bitcoins tendra que iniciar sesion,
    en cambio solamente juegue cono invitado
</p>

<p><a href="@Url.Action("Juego","Home")" class="btn btn-primary btn-lg">Invitado&raquo;</a></p>
<p><a href="@Url.Action("Iniciarsesion","Home")" class="btn btn-warning btn-lg">Iniciar sesion&raquo;</a></p>

