@using QEQ2.Models;
@model Usuarios

@{
    ViewBag.Title = "Categoria";
}

<h2>Categoria</h2>

    @foreach (Categoria x in ViewBag.Categorias)
    {
    <tr>
        <td class="Texto"><h4>@x.Nombre</h4></td>
        <td class="Texto">@Html.ActionLink("Ver", "AccionCategoria", "BackOffice", new { Accion = "Ver", IdCategoria = x.IdCategoria }, null)</td>
        <td class="Texto">@Html.ActionLink("Mofificar", "AccionCategoria", "BackOffice", new { Accion = "Modificar", IdCategoria = x.IdCategoria }, null)</td>
        <td class="Texto">@Html.ActionLink("Eliminar", "AccionCategoria", "BackOffice", new { Accion = "Eliminar", IdCategoria = x.IdCategoria }, null)</td>
    </tr>    
    }
    